[submodule "themes/almeida-cv"]
	path = themes/almeida-cv
	url = https://github.com/ineesalmeida/almeida-cv.git
[submodule "themes/hugo-devresume-theme\\"]
	path = themes/hugo-devresume-theme\\
	url = https://github.com/cowboysmall-tools/hugo-devresume-theme.git
